<% layout('layout/boilerplate') -%>

<form action="/api/v1/products" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" name="price" id="price">
      </div>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="number" class="form-control" name="rating" id="rating">
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" name="quantity" id="quantity">
      </div>
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Image Upload</label>
        <input class="form-control" type="file" name="imageUrl" id="imageUrl">
      </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>